NODE_ENV=development
PORT=3000
BASIC_AUTH_USER=admin
BASIC_AUTH_PASS=admin
DATABASE_URL=postgres://postgres:postgres@localhost:5432/webscrapper
REDIS_URL=redis://localhost:6379
SCRAPER_CONCURRENCY=3
USER_AGENT_ROTATION=true
